{% extends 'display/base.html' %}
{% block content %}
<h2>Welcome {{username}}</h2>
<p>Current balance is {{balance}}</p>

<div class="flexy">
<div class="Container"><a href="{% url 'transaction_create' %}">Add Transactions</a></div>
<div class="Container"><a href="{% url 'category_create' %}">Add and Set Budget</a></div> 
<div class="Container"><a href="{% url 'report' %}">Reports</a></div>
</div>
{% endblock %}

<style>
    .Container {
        width: 75px;
        background-color: aquamarine;

    }
</style>